---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import TwoColumns from "@components/TwoColumns.astro";
import PropCard from "@components/PropCard.astro";
import Hero from "@components/Hero.astro";
import HeroImg from "/workspaces/victorian-child/src/assets/images/header.jpg";
import Button from "@components/Button.astro";
import Header from "/workspaces/victorian-child/src/components/Header.astro";
import Card from "@components/Card.astro";
import V1 from "/workspaces/victorian-child/src/assets/images/victorianchild1.avif";
import Whatchild from "/workspaces/victorian-child/src/components/Markdown/WhatChild.md";
---

<Layout>
  <Header>  
  </Header>
    <Hero imgSrc={HeroImg} >
    <h1 slot="header"> Send a Victorian Child into a Coma:</h1>
  </Hero>
  <Card title="What is a Victorian Child?" imgSrc={V1} ctaUrl="/">
    <Whatchild/>
    </Card> 



</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
  }
  
</style>

<style is:global>
  header h1 {
    font-size: 2.5rem;
    text-align: left;
    color: white;
  }
</style>
 