---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import TwoColumns from "@components/TwoColumns.astro";
import PropCard from "@components/PropCard.astro";
import Hero from "@components/Hero.astro";
import HeroImg from "/workspaces/victorian-child/src/assets/images/header.jpg";
import Button from "@components/Button.astro";
import Header from "/workspaces/victorian-child/src/components/Header.astro";
import Card from "@components/Card.astro";
import V1 from "/workspaces/victorian-child/src/assets/images/victorianchild1.avif";
---

<Layout>
  <Header>  
  </Header>
    <Hero imgSrc={HeroImg} >
    <h1 slot="header"> Send a Victorian Child into a Coma:</h1>
  </Hero>
  <Card title=" How to:" imgSrc={V1} ctaUrl="/">
    <p slot="p1"> 1. Find a Victorian Child. </p>
    <p slot="p2"> 2. Find a way to send them into a coma. </p>
    </Card> 
  <h1> This is a Card Component </h1>
  <p> Cards are useful for displaying content in a visually appealing way. </p>
  <p> You can use them to showcase products, services, or any other type of information. </p>
  <Button title="Learn More" href="/about" />
    <h1> This is a Card Component </h1>
      <h1> This is a Card Component </h1>
        <h1> This is a Card Component </h1>
          <h1> This is a Card Component </h1>
          
</>
  </Card> 


</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
  }
  
</style>

<style is:global>
  header h1 {
    font-size: 2.5rem;
    text-align: left;
    color: white;
  }
</style>
 