---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import TwoColumns from "@components/TwoColumns.astro";
import PropCard from "@components/PropCard.astro";
---

<Layout title="Astro Starter">
  <Container>
    <Image src={AstroLogo} alt="" />
    <h1>a simple Astro Starter Kit</h1>
    <TwoColumns>
      <h2 slot="left">Left Column</h1>
      <p slot="left">This is the left column content.</p>
      <h2 slot="mid">Middle Column</h1>
      <p slot="mid">This is the middle column content.</p>
      <h2 slot="right">Right Column</h1>
      <p slot="right">This is the right column content.</p>
    </TwoColumns>
    <PropCard 
      title="Sample Prop Card" 
      imgSrc={AstroLogo}
      ctaUrl="https://example.com"
    />
    <SampleComponent text="This is a sample component!" />
    <SampleMarkdown />
  </Container>
</Layout>
