---
const {title="Button"} = Astro.props;
---
<section class="accordian-section">
<div class="accordian" title="{title}">
    <details name="accordion">
        <summary>{title}</summary>
        <div class="content"><slot /></div>
    </details>
</div>
</section>

<style> 
.accordian-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.accordian {
    width: 90vw;
    margin: var(--margin);

summary {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.911);;
    color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    padding: 10px;
    cursor: pointer;
    margin:0;
} 

summary:hover {
    background-color: var(--color-accent);
    color: black;
}
.content {
    font-size: 1.2rem;
}
details[open] {
    background-color: var(--color-accent);
    color: rgb(0, 0, 0);
    border-radius:var(--border-radius);
    padding: 10px;
    
}
details[open] summary {
    background-color: var(--color-accent);
    color: #000;
    
}
}
}
</style>

