---
const { title = "Card", imgSrc } = Astro.props;
import { Image } from "astro:assets";
---

<section class="card-section">
  <div class="container">
    <Image src={imgSrc} alt="Victorian Child" class="main-image" />
    <div class="card">
      <h2>{title}</h2>
      <slot />
    </div>
  </div>
</section>

<style>
  .card-section {
    position: relative;
    background: url("src/assets/images/VCSITEPATTERN.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
  }

  .card-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-accent);
    opacity:.85;
    mix-blend-mode:color;
    z-index: 1;
  }

  .card-section > * {
    position: relative;
    z-index: 2;
  }

  .container {
    position: relative;
    width: 50%;
    max-width: 1200px;
    margin: var(--margin);
  }
/* Main image should roughly aligned to the rightside of the screen, so it isnt completley covered by text */

  .main-image {
    width: 100%;
    max-width: auto;
    height: 100%;
    fit: contain;
    display: flex;
    border-radius: var(--border-radius);
     transform: translate(20vw, 0);
    
  }

  .card {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-20vw, -50%);
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    border-radius: var(--border-radius);
    padding: 3rem;
    width: 55vw;
    box-shadow: var(--box-shadow);
    font-size: .9rem;

  }

  .card h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }


  
  @media (max-width: 1100px) {
    
    .card-section {
      padding: .5rem;
      
    }
    .container {
      width: 95%;

    }

    .card {
      position: relative;
      transform: none;
      left: 0;
      top: 0;
      width: 100%;
      font-size: 1rem;
      padding: 1.5rem;
      margin-top: 9px;
    }
    .main-image { 
      transform: none;
    }
  }
  
</style>
