---
const { title = "Card", imgSrc } = Astro.props;
import { Image } from "astro:assets";
---

<section class="card-section">
  <div class="container">
       <Image src={imgSrc} alt="Victorian Child" class="main-image" />
        <div class="card">
      <h2>{title}</h2>
      <slot />
    </div>
  </div>zz]]]]]
</section>

<style>
  .card-section {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--padding);
    font-weight: 600;
    box-shadow: var(--box-shadow);
    z-index: 100;
  }

  .container {
    position: relative;
   width: 50%;
    max-width: 1200px;
    margin: var(--margin)
  }

  .main-image {
    max-width: 100%;
    height: auto;
    fit: contain;
    display: flex;
    border-radius: var(--border-radius);
     transform: translate(-20vw, 0);
  }

  .card {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(20vw, -50%);
    background-color:var(--color-accent);
    color: rgb(0, 0, 0);
    border-radius: var(--border-radius);
    padding: 3rem;
    width: 55vw;
    height: auto;
    box-shadow: var(--box-shadow);
    z-index: 2;
    font-size: .9rem;
  }

  .card h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .5rem;
    line-height: normal;
  }

  @media (max-width: 1100px) {
    
    .card-section {
      padding: .5rem;
    }
    .container {
      width: 95%;
      

    }

    .card {
      position: relative;
      transform: none;
      left: 0;
      top: 0;
      width: 100%;
      font-size: 1rem;
      padding: 1.5rem;
      margin-top: 9px;
    }
    .main-image { 
      transform: none;
    }
  }
</style>