---
---

<header class="site-header">
  <h1 href="#">How to:</h1>
</header>

<style>
  .site-header {
    position: fixed;
    padding: var(--padding);
    background-color: rgb(0, 0, 0);
    color: var(--color-accent);
    width: 100vw;
    z-index: 1000000;
  }
  h1:hover {
    color: var(--color-accent);
  }