---
---

<header class="site-header">
  <h1>How to:</h1>
</header>

<style>
  .site-header {
    width: 100vw;
    margin: var(--margin);
    padding: var(--padding);
    background-color: rgba(0, 0, 0, 0.447);
    color: var(--color-accent);
    font-size: 10rem;
    z-index: 100;
  }