---
const { title, imgSrc, ctaUrl } = Astro.props;
import { Image } from "astro:assets";
import Button from "@components/Button.astro";
---

<section class="hero">
  <div class="hero-image">
    <div class="hero-content">
      <div class="Title">
      <slot name="header"/>
      </div>
      <div class="nav">
        <Button name="b1" title="What is a Victorian Child?" href="#vchild" />
        <Button name="b2" title="What is a Coma?" href="#coma" />
        <Button name="b3" title="Ways to Send a Victorian Child into a Coma" href="#top10" />
        <Button name="b4" title="Why?" href="#Why" /> 
        <Button name="b5" title="How?" href="#How" />     
      </div>
    </div>
    <div class="hero-img-bg">
  <Image src={imgSrc} alt="Hero Image" fit="cover" style="width:100vw;height:calc(100vh - 80px);object-fit:cover;object-position:center;position:absolute;top:0;left:0;z-index:1;" />
    </div>
  </div>
</section>

<style> 
  .hero {
    width: 100vw;
    height: calc(100vh - 80px);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
  }
  
  .hero-content {
      margin:var(--margin);
      padding:var(--padding);
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    z-index: 100;

  }
  @media (max-width: 1100px) {
    .hero {
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .title {
      font-size: 1.5rem;
    
    }
    body {
      font-size: 4vw;
    }
    .nav {
      align-items: center;
      flex-direction: column;
      gap: .1rem;
      
    }

    }

</style>
